<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Eduweb_ModuleB">
        <sequence>
            <module name="Eduweb_ModuleA"/>
        </sequence>
    </module>
</config>
